.container {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  padding-bottom: calc(3rem + --navbar-height);
}

@media (max-width: 320px) {
  .container {
    justify-content: center;
  }
}