.container {
  width: 170px;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
  background: var(--elements-bg);
}

@media (max-width: 576px) {
  .container {
    width: 140px;
  }
}

@media (min-width: 770px) {
  .container {
    width: 180px;
  }
}

@media (min-width: 900px) {
  .container {
    width: 200px;
  }
}