.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-bottom: 3rem;
}

.header {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.storeName {
  color: var(--main-color);
}

.productInfo {
  width: 100%;
  display: grid;
  grid-template-columns: 73.5% 23.5%;
  grid-gap: 0 3%;
  margin-top: 2rem;
}

.name {
  font-size: 1rem;
  font-weight: 100;
  color: var(--text2-color);
  text-align: left;
}

.price {
  font-size: 1rem;
  font-weight: 900;
  color: var(--text-color);
  text-align: right;
}

.description {
  width: 100%;
  font-size: 0.9rem;
  margin-top: 2rem;
  font-weight: 100;
  color: var(--text2-color);
  grid-template-columns: 1fr;
}

@media (min-width: 650px) {
  .storeContainer {
    width: 50%;
  }

  .productInfo {
    width: 50%;
  }

  .description {
    width: 70%;
    margin-top: 4rem;
  }
}