.container {
  width: 95%;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 2.5%;
  bottom: 1%;
  border-radius: var(--border-radius-style);

  background: #27384e85;

  backdrop-filter: blur(10px) saturate(180%);
}