.container {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  background: var(--elements-bg);
}

@media (min-width: 960px) {
  .container {
    width: 50%;
    left: 25%;
  }
}