:root {
  --main-color: #10bbff;
  --background-color: #fff;
  
  --navbar-height: 50px;
  --navbar-border-color: rgba(38, 82, 95, 0.3);

  --border-radius-style: 0.4rem 0.4rem 0.7rem 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  overflow-y: scroll;
}