.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  padding-bottom: 3rem;
}

.containerPicName {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 1rem;
  text-align: center;
  color: var(--text-color);
}

.containerData {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.description {
  width: 100%;
  font-size: 0.8rem;
  margin-top: 1rem;
  font-weight: 500;
  color: var(--text-color);
}

@media (max-width: 320px) {
  .containerPicName {
    flex-direction: column;
  }
}

@media (min-width: 520px) {
  .containerPicName {
    justify-content: space-evenly;
  }
}

@media (min-width: 650px) {
  .containerPicName {
    flex-direction: column;
  }

  .mainContainer {
    flex-direction: row;
  }

  .containerData {
    margin-top: 0;
  }
}