.layout {
  display: flex;
  flex-direction: column;
}

.storeHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
}



.storePhotoName {
  width: 100%;
  display: flex;
  align-items: center;
}

.storePhoto {
  width: 170px;
  border-radius: var(--border-radius-style);
}

.storeName {
  font-size: 2rem;
  text-align: center;
}



.storeData {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.infoData {
  display: flex;
  flex-direction: column;
}

.infoData li {
  padding: 0.3rem 0;
  font-size: 0.8rem;
}

.description {
  width: 100%;
  font-size: 0.8rem;
  margin-top: 1rem;
}



.promotions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.promotionPicture {
  width: 50px;
  height: 50px;
}

.promotionPicture img {
  width: 100%;
  border-radius: var(--border-radius-style);
}