.productImage {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.storeImage {
  width: 150px;
  height: 150px;
}

.product {
	width: 100%;
}

.productstorelink {
	width: 24px;
	height: 24px;
}

@media (min-width: 650px) {
	.storeImage {
		width: 180px;
		height: 180px;
	}
}

@media (min-width: 490px) {
	.product {
		width: 400px;
		height: 400px;
	}
}